@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*Content
    1. HEADER CSS
    2. FOOTER CSS
    3. SLIDER
    4. LOGIN CSS
    5. REGISTER CSS
*/


/*Color
    #064783: footer color
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

//HEADER CSS
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 0px 150px;
    height: 120px;
}

.logo {
    cursor: pointer;
    height: 150px;
    width: 150px;
}

.nav__links {
    list-style: none;
    padding-left: 30px;
    height: 40px;
}

.nav__links>li {
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    padding-right: 1px solid #dddddd;
}

.nav__links>li>ul {
    position: absolute;
    top: 38px;
    width: 300px;
    display: none;
    background-color: rgb(184, 191, 255);
    border-radius: 10px;
    box-shadow: 10px 0px 10px #8888881d;
}

.nav__links>li>ul li a {
    padding: 5px 15px;
}

.nav__links li:hover .subNavMenu {
    display: block;
}

.subNavMenu li {
    transition: all .3s ease;
}

.subNavMenu li:hover {
    padding-left: 10px;
}

.nav__links>li>ul li {
    padding: 10px 0;
    list-style: none;
}

.nav__links li a {
    text-decoration: none;
    font-size: 25px;
}

.loginBtn,
.registerBtn {
    border-radius: 50px;
    padding: 10px;
    background-color: #2595be9b;
    cursor: pointer;
    border: none;
}

.loginBtn:hover,
.registerBtn:hover {
    background-color: #2596be;
}

header div {
    margin-left: auto;
}

//FOOTER CSS
.footer-containter {
    max-width: 1170px;
    margin: auto;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-containter ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col div {
    color: white
}

.footer-col h4 {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 15px;
    position: relative;
    color: rgba(0, 0, 0, .8)
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: wheat;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-col li a:hover {
    padding-left: 8px;
}

.social-btn {
    display: flex;
    gap: 1rem;
}

.social-btn i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, .6);
    border-radius: 100px;
    transition: all .5s;
}

.social-btn i:hover {
    background: white;
    transform: scale(1.1);
    color: black;
}

footer {
    background-color: #064783;
    padding: 70px 0;
}

//SLIDER
.slider-container {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

//LOGIN CSS
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: #2595be9b;
}

.login-card {
    width: 450px;
    padding: 4rem;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
}

.login-card-header {
    text-align: center;
    margin-bottom: 2rem;
}

.login-card-header h1 {
    margin-bottom: 1rem;
    font-size: 30px;
}

.login-card-header h1+div {
    opacity: .7;
}

.login-card a {
    transition: all 0.3s ease;
}

.login-card a:hover {
    text-decoration: none;
    padding-right: .5rem;
}

.login-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-card-form .form-item {
    position: relative;
}

.login-card-form .form-item .form-item-icon {
    position: absolute;
    left: 1.3rem;
    top: 1rem;
    opacity: .5;
}

.login-card-form .checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

.login-card-form .form-other-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.login-card input[type="text"],
.login-card input[type="password"] {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, .3);
    padding: 1rem .5rem;
    padding-left: calc(1rem*3.5);
    width: 100%;
    border-radius: 1rem;
    transition: background .5s;
}

.login-card input[type="text"]::placeholder,
.login-card input[type="password"]::placeholder {
    color: black;
}

.login-card input:focus {
    background: white;
}

.login-card input[type="checkbox"] {
    width: 15px;
    height: 15px;
    accent-color: #2595be9b;
}

.login-card-form button {
    background: black;
    color: white;
    border-radius: 100px;
    height: 45px;
    text-transform: uppercase;
    transition: background .5s;
    letter-spacing: 2px;
}

.login-card-form button:hover {
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}

//REGISTER CSS
.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65rem;
    background-color: #2595be9b;
}

.register-card {
    width: 650px;
    padding: 4rem;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
}

.register-card-header {
    text-align: center;
    margin-bottom: 2rem;
}

.register-card-header h1 {
    margin-bottom: 1rem;
}

.register-card-header h1+div {
    opacity: .7;
}

.register-card-form tr>td {
    padding: 15px 0;
}

.register-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.register-card input[type="text"],
.register-card input[type="email"],
.register-card input[type="date"] {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, .3);
    padding: 1rem .5rem;
    padding-left: calc(1rem*3.5);
    width: 100%;
    border-radius: 1rem;
    transition: background .5s;
}

.register-card input:focus {
    background: white;
}

.register-card input[type="text"]::placeholder,
.register-card input[type="email"]::placeholder,
.register-card input[type="date"] {
    color: rgba(0, 0, 0, .5);
}

.file {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 2.5rem;
    width: 100%;
}

.file input {
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

.file-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, .3);
    border: none;
    outline: none;
    border-radius: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file-custom:after {
    content: "Chọn file";
    color: rgba(0, 0, 0, .5);
    padding-left: 40px;
}

.file-custom:before {
    position: absolute;
    top: -.075rem;
    right: -.075rem;
    bottom: -.075rem;
    z-index: 6;
    display: block;
    content: "Nhập";
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: rgba(255, 255, 255, .3);
    border: none;
    outline: none;
    border-radius: 0 1rem 1rem 0rem;
}

.register-card-form button {
    background: black;
    color: white;
    border-radius: 100px;
    height: 45px;
    text-transform: uppercase;
    transition: background .5s;
    letter-spacing: 3px;
}

.register-card-form button:hover {
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}