<div class="slider-container">
    <div class="button">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
    </div>

    <div class="slides">
        <img src="../../public/img/banner1.png" alt="banner1">
        <img src="../../public/img/banner2.png" alt="banner1">
        <img src="../../public/img/banner3.png" alt="banner1">
    </div>


</div>