<div class="register-container">
    <div class="register-card">
        <div class="register-card-header">
            <h1>Đăng Ký</h1>
            <div>Đăng ký tài khoản nhanh chóng, dễ dàng và bảo mật</div>
        </div>
        <form action="" class="register-card-form">
            <table style="width: 100%;">
                <tr>
                    <td>Họ và tên:</td>
                    <td><input type="text" placeholder="Nhập họ và tên" required></td>
                </tr>
                <tr>
                    <td>Ngày sinh:</td>
                    <td><input type="date" required></td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td><input type="text" name="phone" pattern="[0-9]" placeholder="Nhập số điện thoại" required></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" name="email" placeholder="Nhập email" required></td>
                </tr>
                <tr>
                    <td>Địa chỉ:</td>
                    <td><input type="text" placeholder="Nhập địa chỉ" required></td>
                </tr>
                <tr>
                    <td rowspan="2">CMND/CCCD:</td>
                    <td>
                        <div>Mặt trước:<br>
                            <label class="file">
                                <input type="file" id="">
                                <span class="file-custom"></span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Mặt sau:<br>
                            <label class="file">
                                <input type="file" id="" >
                                <span class="file-custom"></span>
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
            <button type="submit">Đăng Ký</button>
        </form>

    </div>
</div>