<footer>
    <div class="footer-containter">
        <div class="rows">
            <div class="footer-col">
                <h4>Dịch vụ</h4>
                <ul>
                    <li><a href="#">Nạp tiền</a></li>
                    <li><a href="#">Rút tiền</a></li>
                    <li><a href="#">Chuyển tiền</a></li>
                    <li><a href="#">Mua card điện thoại</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Chăm sóc</h4>
                <ul>
                    <li><div>Hotline: 1234566</div></li>
                    <li><div>Email: hotro@meomeopay.com</div></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Về chúng tôi</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <div class="social-btn">
                        <i class="fa-brands fa-2x fa-facebook"></i>
                        <i class="fa-brands fa-2x fa-instagram"></i>
                    </div>
                    
                </ul>
            </div>
            
        </div>
    </div>
</footer>