<header>
    <img class="logo" src="../../../public/img/logo.jpg" alt="logo">
    <nav>
        <ul class="nav__links">
            <li>
                <a href="#">Trang chủ</a>
            </li>
            <li>
                <a href="#">Dịch vụ</a>
                <ul class="subNavMenu">
                    <li><a href="#">Nạp tiền</a></li>
                    <li><a href="#">Rút tiền</a></li>
                    <li><a href="#">Chuyển tiền</a></li>
                    <li><a href="#">Mua card điện thoại</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div>
        <a href="/register"><button class="loginBtn">Đăng Ký</button></a>
        <a href="/login"><button class="registerBtn">Đăng Nhập</button></a>
    </div>
</header>